<big><h1>連絡フォーム<h1>
  <body>
  <%= form_for @new_work do |f| %>

  <%= f.label '取引連絡' %><%= f.text_area :tre %>

  <br>
  <%= f.submit%>
  <% end %>
<br>
<br>
<%= link_to '概要', help_works_path %>
<br>
<hr>
  <%=  image_tag @works.image %>

<br>
<%= @works.mail %>
<br>
<br>
<br>
<br>
  <%= @works.age %><body>円</body>
<tr>
  <br>
  <br>
  <br>
  <br>

    <%= @works.title %>
    <br>
    <br>
    <br>
    <br>
  <%= @works.prname %>
  <br><br>
  <%= @works.username %>
  <br><br>
  <%= @works.prm %>
<br>
  <tr>
<br>
<br>
<%= link_to 'top', works_path %>
</big>
